header {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: black 1px solid
}

#top {
  height: 100px;
  width: 100%;
  margin: auto;
  top: 0;
  position: absolute;
  border: black 1px solid;
}

.top-item {
  height: 100px;
  width: auto;
  margin: auto;
  border: 1px solid black;
  box-sizing: border-box;
}

#home {
  left: 300px;
  position: absolute;
}

#toplist {
  height: 25px;
  width: 400px;
  display: flex;
  position: absolute;
  right: 300px;
}

#toplist a {
  height: 20px;
  width: 25px;
  margin: auto;
}
